<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}css/screen.css" />
    <script src="{{site.baseurl}}js/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="fixed contain-to-grid">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#" title="Vagios Vlachos">Vagios Vlachos</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class={% if page.title == 'Vagios Vlachos' %}"active"{% endif %}><a href="/" title="Home">Home</a></li>
            <li class={% if page.title == 'Vagios Vlachos - Vitae' %}"active"{% endif %}><a href="/vitae" title="Vit&aelig;">Vit&aelig;</a></li>
            <li class={% if page.title != 'Vagios Vlachos' and page.title != 'Vagios Vlachos - Vitae' %}"active"{% endif %}>
              <a href="/blog" title="Blog">Blog</a>
            </li>
            <!-- <li></li> -->
          </ul>
        </section>
      </nav>
    </div><!-- navbar -->

    {{ content }}

    {% include footer.html %}
    {{page.relative_path_to_root}}

  </body>
</html>
